 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: inter-bold;
    src: url(./design/fonts/static/Inter-Bold.ttf);
}
@font-face {
    font-family: inter-regular;
    src: url(./design/fonts/static/Inter-Regular.ttf);
}

@font-face {
    font-family: inter-semi;
    src: url(./design/fonts/static/Inter-SemiBold.ttf);
}



html, body {
    height: 100%;
}


body{
    background-color: #141414;
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

#main_card {
    background-color: #1f1f1f;
    border-radius: 12px;
    width: 150%;
    max-width: 150%;
    height: 611px;
    padding: 0px;
    min-height: 579px;
    margin: auto;
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    position: relative;
    

}

#titles {
    margin-bottom: 20px;
}

img {
    height: 88px;
    width: 88px;
    border-radius: 50%;
    margin: 12px;
    
}

h1,p {
    color: #ffffff;
}



h1 {
 font-family: inter-bold;
 font-size: 24px;
 line-height: 150%;
 letter-spacing: 0px;
 font-weight: lighter;

 margin-top: 12px;
 
}

h2 {
    color: #c4f82a;
    font-family: inter-regular;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: bold;

    margin-bottom: 24px;
}

p {
    font-family: inter-regular;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;

    margin-bottom: 10px;
}

.nav_hold{
    width: 85%;
    height: 289px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}    

.nav_card {
    background-color: #333333;
    border-radius: 12px;
    width: 100%;
    height: 45px;
    margin-bottom: 16px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
}

.nav_name {
    font-family: inter-regular;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: bold;
    color: #ffffff;

}

.nav_card:hover {
    background-color: #c4f82a;
    
}

.nav_card:hover .nav_name{
    color: #333333;
}

.attribution {
    color:#333333;
    font-family: inter-regular; 
    position: absolute;
    bottom: 10px;
    right: 10px;
   
}

@media (max-width: 600px){
 
    #main_card{
        width: 325px;
        height: 579px
        padding: 20px;
        position: relative;
    }

    .nav_card{
        width: 100%;
    
    }
    
    .attribution{
        font-size: 10px;
        position: fixed;
        bottom: 10px;
        right: 10px;
    }
}